.btn_msg_bottom {
    position: fixed;
    top: 0;
    text-align: center;
    width: 100%;
    height: 70px;
    line-height: 70px;
    font-size: 18px;
    background: rgba(255,255,255,0.8);
}

#bin {
    float: right;
    padding: 7px 0;
    line-height: 100%;
    border-radius: 3px;
    cursor: pointer;
    width: auto;
    font-size: 14px;
    color: #FFF;
    text-decoration: none;
    vertical-align: middle;
    background: #2980b9;
    border: none;
    transition: background ease-in-out .15s;
}

#bin a{
    color: white;
    text-decoration: none;
    padding: 7px 10px;
}

#bin:hover {
    background: #3498db;
}

.bin_cats a:hover {
    opacity: 0.8;
}

.bin_t {
	width: 100%;
	border-collapse: collapse;
	border-radius: 3px !important;
    overflow: hidden;
}

.bin_t_del {
    cursor: pointer;
    width: 16px;
    height: 16px;
    background-image: url("/templates/default/images/icons/delete.png");
    display: block;
}

.input.bin_t_count{
    width: 35px;
}

.hidden_zero {
    display: none;
}

.bin_t thead{

}
.bin_t tr th{
	background: #f1f1f1;
    padding: 10px 10px;
}
.bin_t tr th.th_title,
.bin_t tr th.th_cat{
	text-align:left;
}
.bin_t tr td{
	border-bottom: 2px solid #f1f1f1;
	padding: 5px;
}

.bin_t tr td:first-child{
	border-left: 2px solid #f1f1f1;
}

.bin_t tr td:last-child{
	border-right: 2px solid #f1f1f1;
}

.bin_t tr:last-child td{
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
    padding: 15px;
    font-size: 22px;
}

.bin_t tr:last-child td span {
    font-weight: bold;
    color: brown;
    background: url("/templates/default/images/icons/coin.png") no-repeat left center;
    padding-left: 20px;
}

.bin_td_ratio {
    background: url("/templates/default/images/icons/coin.png") no-repeat left center;
    padding-left: 20px !important;
    font-size: 12px;
}

.bin_td_deliv {
    background: url("/templates/default/images/icons/messages.png") no-repeat left center;
    padding-left: 20px !important;
}

.td_item_price {
	text-align: center;
}

.bin_t_price {
	font-weight: bold;
	font-size:14px;
}

.bin_cats a {
    text-decoration: none;
    font-size: 13px;
    padding-left: 20px;
    background: url("/templates/default/images/icons/folder.png") no-repeat left center;
}

.bin_title a {
    text-decoration: none;
	font-size: 15px;
	line-height:16px;
}

.zero-bin-text {
	background: url("/templates/default/images/icons/basket.png") no-repeat left center;
	padding-left: 20px;"
}

.bin_counter {
    background: white;
    font-size: 12px;
    padding: 2px 5px;
    color: #2980b9;
    margin-left: 5px;
    border-radius: 3px;
    opacity: 0.8;
}


/*/////////////////////////////////////////////////////////////////*/

input.input.add_uprop {
    width: 150px;
   	margin-right: 5px;
}

.uprop_line {
    background: #f1f1f1;
    border: 1px solid #f0f0f0;
    margin-bottom: 5px;
    padding: 5px 10px;
}

.uprop_line:first-child {
    margin-top: 5px;
}

.uprop_line:last-child {
    margin-bottom: 0;
}

span.del_uprop {
    margin-left: 10px;
    font-size: 12px;
    color: silver;
    cursor: pointer;
}

span.add_item_uprop {
    margin-left: 10px;
    font-size: 12px;
    color: #f7a0a0;
    cursor: pointer;
}

.uprop_item_list {
    margin-top: 5px;
}

.uprop_item_list > div{
    padding-bottom: 5px;
    padding-top: 3px;
}

.uprop_item_list > div > input{
    margin-left: 5px;
}

.uprop_item_list > div:hover{
    background: white;
}

select.sel_uprop {
    width: 200px;
    margin-left: 10px;
    margin-bottom: 5px;
    box-shadow: none;
    border-color: gainsboro;
    border-radius: 3px;
    background-color: #fbfbfb;
}

.uprop_item_line input.ratio {
    width: 80px;
}

.uprop_item_line select.unit {
    width: 130px;
    border: 0;
    background: white;
    height: 22px;
}

/*//////////////////Field Ucart///////////////////////////////////////////////*/

.ucart_field{
	margin-top:5px;
	margin-bottom:5px;
}
.ucart_field_counts{
	margin-bottom:5px;
}

/*////////////////////////index/////////////////////////////////////////*/
.ucart_index, 
.ucart_index form, 
.ucart_index fieldset{
	position:relative;
	width:100%;
	display:block;
	box-sizing:border-box;
}

.bin_form input:not(.input-checkbox),
.bin_form textarea{
	width:100%;
	display:block;
	max-width:100%;
}
.bin_t_tr{
	overflow:hidden;
}
.item_image img{
	width:100%;
	height:auto;
}

.tr_deliv{
	background:#f1f1f1;
}

.bin_title{
	font-weight:bold;
}


@media only screen and (max-width: 767px) {
.mob_hidden{
	display:none;
}
table.bin_t, table.bin_t thead, table.bin_t tbody, table.bin_t tr, table.bin_t tr td{
	display:block !important;
	border:0;
	padding:0;
	box-sizing:border-box;
}
table.bin_t, table.bin_t thead, table.bin_t tbody, table.bin_t tr{
	width:100% !important;
 }
 table.bin_t thead, table.bin_t thead tr{
	 overflow:hidden;
	 background:#f1f1f1;
 } 
 table.bin_t thead .th_title{
	 float:left;
	 padding-left:10px;
 } 
 table.bin_t thead .th_price{
	 float:right;
	 text-align:right;
	 padding-right:45px;
 } 

.bin_item{
	display:block;
	padding:5px 0 !important;
}
.bin_item .bin_title:after{
	content:"";
	display:block;
	width:100%;
}
.item_image{
	float:left;
	text-align:left;
	padding-right:10px !important;
}

.bin_cats{
	padding:5px 0 5px 0 !important;
	text-align:left;
}
.bin_cats a{
  color:#888;
}
.td_item_price, .bin_t_price, .tr_t_del{
	float:left;
}
td.bin_t_price{
	padding-top:6px !important;
	padding-left:10px !important
}
.bin_t tr td:first-child{
	border:0;
}
.bin_t tr td:last-child{
	border:0;
	float:right;
}

tr.tr_deliv{
	padding:10px !important;
}
.text-before-form{
	display:table;
	width:100%;
}
tr.tr_deliv .bin_td_deliv{
	margin-bottom:7px;
}
tr.tr_deliv .bin_t_price_deliv:before{
	content:"+";
	display:inline-block;
	vertical-align:top;
	padding-right:5px;
}
.td_item_price, .bin_t_price {
	float:right;
	padding-left:10px !important;
	font-size:13px !important
}

tr.tr_deliv .td_item_price{
    display:none !important;
}

.tr_t_del{
	float:left !important;
	padding-top:3px !important;
}
.bin_t_del, .bin_t_del:before {	
    height: 18px;
	line-height:18px;	
    display: inline-block;
	vertical-align:top;
}
.bin_t_del {
    cursor: pointer;
    width: auto;
	padding:0 4px;
	overflow:hidden;
	background:#c00;
	color:#fff !important;
	
}
.bin_t_del:before {
	content:attr(title);
	font-size:11px;
	font-weight:bold
}

.tr_price_result td{
	padding-left:0 !important;
	padding-right:0 !important;
}
.tr_price_result td{
	font-size:16px
}
.tr_price_result span{
	font-size:18px
}

}

input.input.bin_btn_count {
    width: 27px;
    text-align: center;
    border: 0;
    border-radius: 0;
    background: none;
    font-weight: bold;
}

.priceminus {
	border-radius: 15px 0px 0px 15px; 
	border:1px solid #ddd; 
	margin-right: -5px; 
	padding: 5px 6px;
}

.priceminus:hover {
	border: 1px solid #28b262; 
	background: #28b262; 
	color: #fff;
	cursor: pointer;
}

.priceplus {
	border-radius: 0px 15px 15px 0px; 
	border: 1px solid #ddd; 
	margin-left: -5px; 
	padding: 5px 6px;
}

.priceplus:hover {
	border: 1px solid #28b262; 
	background: #28b262; 
	color: #fff;
	cursor: pointer;
}

.bin_t .prop {
	color: #a7a7a7;
}

.bin_t .prop_value {
    font-weight: normal;
}

.item_uprop_line span{
	font-weight: bold;
	color: #34495E;
}

/*////////////////////// Список Ucart ////////////////////*/

.content_list.ucart {
    margin-right: -15px;
}

.content_list.ucart > div {
    float: left;
    width: 25%;
    clear: none;
    margin-bottom: 30px;
}

.content_list.ucart > div > .ucart_item {
    border: 1px solid #ececec;
    height: 320px;
    margin-right: 15px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.content_list.ucart > div > .ucart_item:hover {
    border: 1px solid #d6d6d6;
}

.content_list.ucart a.photos {
    display: block;
    height: 200px;
    float: none;
    background-size: auto 100%;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    transition: background-size 0.5s ease-in;
    -moz-transition: background-size 0.5s ease-in;
    -web-kit-transition: background-size 0.5s ease-in
}

.content_list.ucart a.photos:hover {
    opacity: 0.8;
    background-size: auto 150%;
}

.content_list.ucart .title a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #737373;
    font-weight: bold;
    font-size: 14px;
    margin: 5px 4px 0;
    max-height: 38px;
    overflow: hidden;
}

.content_list.ucart .item_price {
    text-align: center;
    height: 35px;
    line-height: 35px;
    font-size: 18px;
    margin-top: 5px;
    font-weight: bold;
    color: #51677d;
    position: absolute;
    bottom: 35px;
    width: 100%;
}

.content_list.ucart .item_bin {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.content_list.ucart .item_bin > div{
    margin-bottom: 3px;
}

.content_list.ucart .ucart_item_props{
    position: absolute;
    bottom: 70px;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    padding-top: 5px;
    display: none;
    border-radius: 3px;
}

.content_list.ucart .ucart_item_props span {
    width: calc( 50% - 10px );
    float: left;
    line-height: 28px;
    padding-left: 10px;
    overflow: hidden;
    word-wrap: break-word;
    overflow-wrap: break-word;
    color: white;
    font-size: 12px;
    font-weight: normal;
}

.content_list.ucart .ucart_item_props select{
    width: calc( 50% - 5px );
    float: right;
    margin-left: 0;
    margin-right: 5px;
    border: 0;
}

input.button.ucart_list_empty_button {
    margin-bottom: 3px;
}

.ucart_list_item_full_width .content_list.ucart > div{
	width: 100%;
    margin-bottom: 10px;
}

/*//////////////////////////////////////////////////////////////*/

@media screen and (max-width: 1000px) {
    .content_list.ucart > div {width: 33.33%;}
}

@media screen and (max-width: 600px) {
    .content_list.ucart > div {width: 50%;}
}

@media screen and (max-width: 500px) {
    .content_list.ucart > div {width: 100%;}
}

/*//////////////////////// Стикеры ////////////////////////////*/

.ucart_sticker {
    color: white;
    border-radius: 3px;
    padding: 5px 10px;
    display: inline-block;
    font-size: 13px;
    background: #7f227d;
    text-shadow: 1px 1px 1px #000000;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    1px 1px 1px 0px rgba(50, 50, 50, 0.5);
	box-shadow:         1px 1px 1px 0px rgba(50, 50, 50, 0.5);
	text-decoration: none;
}

.ucart_item .ucart_sticker {
    position: absolute;
    top: 28px;
    left: -32px;
    transform: rotate(-45deg);
    color: #fff;
    padding: 5px 0px;
    width: 150px;
    text-align: center;
}

/*/////////////////////////////////////////////////////////////*/