/* ========================================================================== */
h1 + .content_datasets {
    margin-top: -15px;
}
.content_datasets {
    clear: both;
}
.content_datasets ul {
    margin-left: -1px;
}
.content_datasets ul li {
    background: none;
    border-radius: 0;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    padding: 0;
}
.content_datasets ul .active {
    padding: 0;
}
/* ========================================================================== */
.content_categories + .filter-panel {
    margin-top: -21px;
}
.content_categories {
    margin-top: 0;
    padding: 10px;
}
article div.content_categories:last-child {
    margin: 0;
}
.content_categories ul, .content_categories li {
    margin: 0;
    padding: 0;
}
.content_categories li {
    display: inline-block;
    font-size: 18px;
    height: 32px;
    line-height: 32px;
    margin-right: 10px;
    padding-left: 20px;
}
.content_categories.categories_small li {
    font-size: 14px;
    height: 24px;
    line-height: 24px;
}
.cats_bar ul {
    margin: 0 0 10px;
    list-style: none;
}
.cats_bar ul > li {
    display: inline-block;
    padding-left: 20px;
    margin-right: 10px;
}
/* ========================================================================== */
.content_item_parent_title {
    font-weight: normal;
    margin: 0;
}
.content_item, .f_photos > .value {
    clear: both;
    overflow: hidden;
}
.content_item .field {
    box-sizing: border-box;
    margin-bottom: 15px;
    overflow: hidden;
}
.content_item .field.left_field {
    float: left;
    margin-right: 15px;
}
.content_item .field.right_field {
    float: right;
    margin-left: 15px;
}
.content_item .field.auto_field {
    overflow: visible;
}
.content_item .field.none_field {
    clear: both;
    float: none;
}
.content_item .field .title_left, .content_item .field .title_top, .content_list .field .title_left, .content_list .field .title_top {
    font-weight: 700;
}
.content_item .field .title_left, .content_list .field .title_left {
    float: left;
    margin-right: 10px;
}
.content_item .field .title_top, .content_list .field .title_top {
    margin-bottom: 5px;
}
.ft_listbitmask > .value > ul {
    margin: 0;
    overflow: hidden;
}
.ft_listbitmask > .value > ul > li {
    margin: 0 0 0 20px;
    padding: 0;
}
.ft_listbitmask > .value > ul.multiple_tags_list {
    margin-bottom: -5px;
}
.ft_listbitmask > .value > ul.multiple_tags_list li {
    display: inline-block;
    margin: 0 5px 5px 0;
    padding: 4px 8px;
}
.ft_listbitmask > .value > ul.multiple_tags_list li > a {
    color: inherit;
    display: block;
    margin: -4px -8px;
    padding: inherit;
	text-decoration: none;
}
/* ========================================================================== */
.content_item .fields_group:first-child .group_title {
    margin-top: 0;
}
.content_item .fields_group {
    clear: both;
    overflow: hidden;
}
.content_item .fields_group .field {
    margin: 0 0 5px;
}
.content_item .fields_group + .field {
    padding: 15px 0 0;
}
/* ========================================================================== */
.content_item .ft_text {
    clear: both;
}
.content_item .ft_text .value, .content_item .ft_html .value {
    line-height: 20px;
}
.content_item .ft_html .value table, .redactor-editor table {
    border-collapse: collapse;
}
.content_item .ft_html .value table th, .content_item .ft_html .value table td, .redactor-editor table td, .redactor-editor table th {
    padding: 10px;
}
.ft_html a.read-more {
    display: block;
    margin: 5px 0;
}
.ft_file .value .size {
    font-size: 12px;
    margin-left: 5px;
}
.ft_date .value .time {
    padding-left: 16px;
}
.ft_color .color-block, .content_item_props .value .color-block {
    display: inline-block;
    height: 16px;
    width: 32px;
}
/* ========================================================================== */
.content_item_props {
    margin-bottom: 15px;
    padding: 10px;
}
.content_item_props table {
    border-collapse: collapse;
    width: 100%;
}
.content_item_props table tr td {
    padding: 4px 0;
}
.content_item_props table .heading {
    font-weight: 700;
    text-align: center;
}
.content_item_props table .title {
    padding-right: 10px;
    width: 50%;
}
.content_item_props table .value {
    padding-left: 10px;
    text-align: right;
}
/* ========================================================================== */
#trash_content_pills {
    margin-bottom: 30px;
}
.content_list_item {
	box-sizing: border-box;
    display: inline-block;
    clear: both;
    color: #666;
    margin-bottom: 15px;
    overflow: hidden;
    position: relative;
	width: 100%;
}
.content_list_item:last-child, .content_list_item:last-child > div:last-child {
    margin-bottom: 0;
}
.content_list_item .photo {
    float: left;
    margin-right: 10px;
}
.content_list_item .field {
    margin-bottom: 6px;
}
.content_list_item .ft_caption {
    margin-bottom: 10px;
}
.content_list_item .ft_caption .value {
    font-size: 21px;
    margin: 0;
}
.content_list_item .ft_caption a {
    color: inherit;
    text-decoration: none;
}
.content_list_item .ft_caption a:hover {
    text-decoration: underline;
}
.content_list_item .ft_caption h1 {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    padding: 2px 0;
}
.content_list_item .f_date_pub {
    float: right;
    font-size: 11px;
    margin-top: -20px;
    padding-right: 10px;
    padding-top: 1px;
}
.content_item .ft_listmultiple ul, .content_list_item .ft_listmultiple ul {
    clear: both;
}
.content_item .tags_bar, .content_list_item .tags_bar {
    clear: both;
    font-size: 12px;
    line-height: 16px;
    margin: 10px 0;
    overflow: hidden;
    padding-left: 20px;
}
.content_item .info_bar, .content_list_item .info_bar {
    clear: both;
    font-size: 11px;
    margin: 5px 0;
    overflow: hidden;
}
.content_item .info_bar .bar_item, .content_list_item .info_bar .bar_item {
    float: left;
    height: 18px;
    line-height: 18px;
    padding: 3px 10px;
}
.content_list_item .info_bar .bi_count {
    font-weight: 700;
}
.content_list_item .info_bar .bi_user, .content_item .info_bar .bi_user, .content_list .info_bar .bi_user, .content_list_item .info_bar .bi_comments, .content_item .info_bar .bi_folder, .content_list_item .info_bar .bi_folder {
    padding-left: 25px;
}
.content_item .info_bar .bi_hits, .content_list_item .info_bar .bi_hits, .content_list .info_bar .bi_hits{
    padding-left: 22px;
}
/* ========================================================================== */
.content_list_rss_icon {
    float: right;
}
.content_list_rss_icon, .content_list_styles { float:right; }

.content_list_rss_icon a, .inline_rss_icon {
    display: block;
	float: right;
    height: 16px;
    overflow: hidden;
    text-indent: -9999px;
    width: 16px;
}
#comments_widget .content_list_rss_icon {
    height: 30px;
    margin: 0 0 0 10px;
}
#comments_widget .content_list_rss_icon a {
	background-position: center center;
    height: 100%;
}
.content_list_styles {
    overflow: hidden;
    margin-bottom: 15px;
}
.content_list_styles .style_switch {
	border: 1px solid #ddd;
	color: #839aa4;
    display: inline-block;
    height: 32px;
    line-height: 32px;
	min-width: 32px;
    padding: 0 6px 0 34px;
    text-decoration: none;
	vertical-align: top;
}
.content_list_styles .style_switch.without_title {
    min-width: 0;
    padding: 0 0 0 33px;
}
.content_list_styles .style_switch:hover,
.content_list_styles .style_switch.active {
    background-color: #f1f1f1;
}
.content_list_styles .style_switch.featured {
    background-position: left -96px;
}
.content_list_styles .style_switch.tiles {
    background-position: left -64px;
}
.content_list_styles .style_switch.table {
    background-position: left -32px;
}
/* ========================================================================== */
.content_list {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    clear: both;
}
.content_list.featured .first {
    padding: 15px;
}
.content_list.featured .first .ft_caption a {
    font-size: 24px;
}
.content_list.featured .first .fields {
    float: left;
    width: 48%;
}
.content_list.featured .first .photo {
    float: right;
    margin: 0;
    width: 48%;
}
.content_list.featured .first > .photo img, .content_list_item > .photo img {
    display: block;
    width: 100%;
}
.content_list .info_bar {
    display: inline-block;
}
.content_list.featured .first .info_bar .bar_item:first-child {
    padding-left: 0;
}
.content_list.tiled.albums_list {
    margin-bottom: -20px;
}
/* ========================================================================== */
.content_list.table table {
    border-collapse: collapse;
    width: 100%;
}
.content_list.table table th {
    text-align: left;
}
.content_list.table table th, .content_list.table table td {
    padding: 10px;
}
.content_list.table table td.photo {
    width: 64px;
}
.content_list.table table td.photo a {
    display: block;
    height: 64px;
    width: 64px;
}
.content_list.table table td.ft_number {
    width: 100px;
}
.content_list.table table td.ft_caption h2 {
    font-size: 16px;
    margin: 0;
}
/* ========================================================================== */
.content_list.tiled {
    margin: 0 auto;
}
.content_list.tiled .clear {
    clear: both;
}
.content_list.tiled .tile {
    box-sizing: border-box;
	clear: none;
    float: left;
    margin-bottom: 20px;
    padding-right: 10px;
    width: 33.3333%;
}
.content_list.tiled .tile:nth-child(3) {
    padding-right: 0;
}
.content_list.tiled .tile .photo {
    display: block;
    height: 140px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.content_list.tiled .tile .photo .note {
    bottom: 0;
    font-size: 12px;
    left: 0;
    padding: 3px 6px;
    position: absolute;
    z-index: 1;
}
.content_list.tiled .tile .photo a > img {
    display: none;
}
.content_list.tiled .tile .photo a {
	height: 100%;
	left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.content_list.tiled .tile .ft_caption, .content_list.tiled .tile .ft_caption h2 {
    font-size: 16px;
    margin: 0;
}
.content_list.tiled .tile .ft_caption .value {
    font-weight: 700;
}
.content_list.tiled .tile .ft_caption a {
    color: inherit;
    text-decoration: none;
}
.content_list.tiled .tile .ft_caption a:hover {
    text-decoration: underline;
}
.content_list.tiled .tile .ft_caption a.parent_title {
    font-size: 14px;
    font-weight: normal;
}
.content_list.tiled .tile .field {
    margin-bottom: 10px;
}
.content_list.tiled .info_bar {
    font-size: 12px;
    opacity: 0;
    transition: all 0.5s ease 0s;
}
.content_list.tiled .tile:hover .info_bar {
    opacity: 1;
}
.content_list.tiled .info_bar .bar_item {
    float: left;
    height: 18px;
    line-height: 18px;
    margin-right: 5px;
}
.content_list.tiled .info_bar .bar_item:last-child {
    margin-right: 0;
}
.content_list.tiled .info_bar .bi_comments {
    padding-left: 25px;
}
.content_list.tiled .tags_bar {
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    margin: 10px 0;
    overflow: hidden;
    padding-left: 20px;
}
.content_list.tiled .info_bar .bi_date {
    padding-left: 25px;
}
/* ========================================================================== */
.content_item {
    position: relative;
}
.content_item .ft_image {
    max-width: 100%;
}
.content_item .ft_image img, .ft_html img {
    display: block;
    margin: 0;
    max-width: 100%;
}
.ft_images img {
    display: block;
    margin: 0;
    width: 100%;
}
.content_item .ft_images {
    margin: 0 0 5px;
}
.first_type_images, .second_type_images {
    float: left;
    margin: 0 10px 10px 0;
    max-width: 40%;
    overflow: hidden;
    position: relative;
}
.second_type_images {
    max-width: 100%;
}
.hover_image {
    display: inline-block;
    position: relative;
}
.first_type_images::after, .second_type_images::after, .hover_image::after {
	content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all 0.5s ease 0s;
    width: 100%;
}
.first_type_images:hover::after, .second_type_images:hover::after, .hover_image:hover::after {
    opacity: 0.4;
}
.first_type_images:not(:first-child) {
    margin-bottom: 10px;
}
/* ========================================================================== */
.content_moderation_notice {
    background-position: left center;
    background-repeat: no-repeat;
    float: right;
    margin-top: -26px;
    padding-left: 20px;
}
.content_moderator_info {
    font-size: 12px;
    font-style: italic;
}
/* ========================================================================== */
#content_bind_form {
    padding: 15px;
}
#content_bind_form #item-find-field {
    width:35%;
    float: left;
}
#content_bind_form #item-find-input {
	border-left: none;
    float: left;
    min-width: 300px;
	width: 65%;
}
#content_bind_form .find {
    margin: 0;
    overflow: hidden;
}
#content_bind_form .filter-tabs {
    margin-top: 10px;
}
#content_bind_form .filter-tabs ul {
    margin-bottom: 10px;
}
#content_bind_form .filter-tabs li {
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    margin-right: 2px;
    padding: 4px 6px;
}
#content_bind_form .result-pane {
    height: 180px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 2px;
    position: relative;
}
#content_bind_form .spinner {
    display: none;
}
#content_bind_form .spinner.show {
    display: block;
}
#content_bind_form .spinner.show + .result-pane {
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -ms-filter: blur(1px);
    -o-filter: blur(1px);
    filter: blur(1px);
}
#content_bind_form .result-pane ul, #content_bind_form .result-pane ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}
#content_bind_form .result-pane ul li {
    padding: 10px;
    position: relative;
}
#content_bind_form .result-pane ul li:last-child {
    border-bottom: none;
}
#content_bind_form .result-pane ul li .title {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 4px;
}
#content_bind_form .result-pane ul li .details, #content_bind_form .result-pane ul li .details a {
    font-size: 11px;
}
#content_bind_form .result-pane ul li .details .user {
    display: inline-block;
    height: 16px;
    line-height: 16px;
    margin-right: 4px;
    padding-left: 18px;
}
#content_bind_form .result-pane ul li .add {
    position: absolute;
    right: 10px;
    top: 10px;
}
#content_bind_form .buttons {
    margin-top: 10px;
    visibility: hidden;
}
/* ========================================================================== */
.video_frame {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.video_wrap {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
}
.content_item_props .value ul {
    list-style: none;
    margin: 0;
}
.content_item_props .value ul li {
    display: inline-block;
    padding: 0 3px 0 0;
}
.content_item_props .value ul li::after {
    content: ", ";
}
.content_item_props .value ul li:last-child::after {
    content: "";
}
.content_item_props .value ul li:last-child {
    padding-right: 0;
}
a.hashtag {
    text-decoration: none;
}
.spoiler > input + label::before {
    content: "+";
    float: left;
    font-weight: 700;
    width: 15px;
}
.spoiler > input:checked + label::before {
    content: "-";
}
.spoiler > input, .spoiler > input + label + .spoiler_body {
    display: none;
}
.spoiler > input + label, .spoiler > .spoiler_body {
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    padding: 5px 10px;
    width: 100%;
}
.spoiler > input + label {
    cursor: pointer;
}
.spoiler > input:checked + label + .spoiler_body {
    display: block;
}
@media screen and (max-width: 980px) {
	.share .ya-share2__container_size_s .ya-share2__item {
		margin-right: 10px;
	}
}
@media screen and (max-width: 800px) {
	.content_list.tiled .tile {
		width: 50%;
	}
	.content_list.tiled > .clear {
        display: none;
    }
	.content_list.tiled .tile:nth-child(3) {
		padding-right: 10px;
	}
	.content_list.tiled .tile:nth-child(2) {
		padding-right: 0;
	}
}
@media screen and (max-width: 640px) {
	.content_list.tiled .tile {
		width: 100%;
	}
	.content_list.tiled .tile:nth-child(3) {
		padding-right: 0;
	}
	.content_list.tiled .tile:nth-child(2) {
		padding-right: 0;
	}
	.content_item .field.left_field, .content_item .field.right_field {
		float: none;
		margin-left: 0;
		margin-right: 0;
		width: 100% !important;
	}
	.content_list.tiled .tile .photo {
        height:180px;
    }
}