/* Global =================================================================== */
html, body {
    height: 100%;
    width: 100%;
}
body {
    margin: 0;
    padding: 0;
}
#layout header {
    height: 300px;
}
/* Wrapper ================================================================== */
#layout,
header,
nav,
#breadcrumbs,
#body,
footer,
.limiter {
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
}
#layout {
	box-sizing: border-box;
	min-height: 100%;
	overflow: hidden;
	position: relative;
}
#popup-manager.popup-show + #layout, .wrap_blur {
    -webkit-filter:blur(2px);
    -moz-filter:blur(2px);
    -ms-filter:blur(2px);
    -o-filter:blur(2px);
    filter:blur(2px);
}
/* Header Navigation ======================================================== */
header .menu, header .menu li {
    background: none;
    list-style: none;
    margin: 0;
    padding: 0;
}
header .menu {
    float: left;
    position: relative;
    z-index: 15;
}
header .menu .item {
    padding-left: 28px;
}
header .menu > li {
    float: left;
    padding-left: 5px;
}
header .menu > li > a {
    display: block;
    font-size: 12px;
    padding: 0 5px;
    text-decoration: none;
}
header .menu > li > a span.wrap > span.counter {
    margin: 0 0 0 5px;
}
header .menu > li > a span.wrap > span.counter::before {
    content: "(";
}
header .menu > li > a span.wrap > span.counter::after {
    content: ")";
}
header .menu ul li a, header .menu li.active ul li a {
    padding-right: 10px;
    text-decoration: none;
    text-shadow: none;
}
header .menu li:hover {
    cursor: default;
    position: relative;
    z-index: 599;
}
header .menu ul {
    left: -15px;
    position: absolute;
    top: 99%;
    visibility: hidden;
    width: 100%;
    z-index: 598;
}
header .menu ul li {
    float: none;
}
header .menu ul li:last-child {
    border-bottom: none;
}
header .menu ul li a {
    display: block;
    height: 30px;
    line-height: 30px;
}
header .menu ul ul {
    left: 90%;
    top: 0;
}
header .menu li:hover > ul {
    visibility: visible;
}
header .menu ul {
    width: 230px;
}
header .menu > .folder a {
    padding-right: 8px;
}
/* Main Navigation =========================================================== */
nav {
    height: 50px;
    padding: 0;
}
nav .menu, nav .menu li, nav .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav .menu {
    height: 50px;
    line-height: 50px;
    position: relative;
    z-index: 5;
}
nav .menu .item {
    background-image: none !important;
}
nav .menu > li {
    float: left;
}
nav .menu > li:first-child {
    background: none;
}
nav .menu > li > a {
    display: block;
    font-weight: 700;
    padding: 0 15px;
    text-decoration: none;
    text-transform: uppercase;
}
nav .menu ul li a, nav .menu li.active ul li a {
    padding: 0 10px;
    text-decoration: none;
    text-shadow: none;
}
nav .menu li:hover {
    cursor: default;
    position: relative;
    z-index: 599;
}
nav .menu ul {
    left: 0;
    position: absolute;
    top: 98%;
    visibility: hidden;
    width: 100%;
    z-index: 598;
}
nav .menu ul li {
    float: none;
}
nav .menu ul li:last-child {
    border-bottom: none;
}
nav .menu ul li a {
    display: block;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
}
nav .menu li:hover > ul {
    visibility: visible;
}
nav .menu ul {
    margin-top: 1px;
    width: 200px;
}
nav .menu > .folder > a {
    padding-right: 8px;
}
nav .menu > .folder > a > .wrap {
    padding-right: 20px;
}
nav .menu ul .folder > a {
    padding-right: 15px;
}
nav select {
    display: none;
}
nav .menu ul ul {
    left: 99.9%;
	top: 0;
	margin-top: 0;
}
/* Body ===================================================================== */
#body {
	overflow: hidden;
	padding: 10px 0 60px;
}
/* Breadcrumbs ============================================================== */
#breadcrumbs {
    position: relative;
}
#breadcrumbs ul, #breadcrumbs li {
    list-style: none;
    margin: 0;
    padding: 0;
}
#breadcrumbs ul {
    overflow: hidden;
    position: relative;
}
#breadcrumbs > ul::after {
    content: "";
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
}
#breadcrumbs ul li {
    float: left;
    font-size: 12px;
    line-height: 32px;
    min-height: 32px;
}
#breadcrumbs ul li a:hover {
    text-decoration: none;
}
#breadcrumbs ul li.sep {
    padding: 0 10px;
    width: 4px;
}
#breadcrumbs ul li.home {
    width: 16px;
}
#breadcrumbs ul li.home a {
    display: block;
    height: 32px;
    width: 16px;
}
/* Section ================================================================== */
#body section {
    float: left;
    width: 730px;
}
#body section article {
    margin-bottom: 10px;
    padding: 0 0 20px;
    position: relative;
    z-index: 0;
}
#body section h1 {
    margin-bottom: 20px;
}
#body section h1 + .parent_title {
    font-size: 16px;
    margin: -10px 0 20px;
}
.item_group_title {
    padding: 0 0 0 25px;
}
/* Sidebar Navigation ======================================================= */
#body aside .menu, #body aside .menu li, #body section .menu, #body section .menu li {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}
#body aside .menu {
    margin: -15px;
}
#body aside .menu li ul {
    box-shadow: 0 1px 2px #666;
    left: auto;
    position: absolute;
    right: 91%;
    top: -1px;
    visibility: hidden;
    width: 220px;
    z-index: 999;
}
#body aside .menu li:hover, #body aside .menu li.active, #body section .menu li:hover, #body section .menu li.active {
    cursor: default;
    position: relative;
    z-index: 2;
}
#body aside .menu li:last-child {
    border-bottom: none;
}
#body aside .menu li:hover > ul {
    visibility: visible;
}
#body aside .menu a, #body aside .menu span.item, #body section .menu a, #body section .menu span.item {
    display: block;
    overflow: hidden;
    padding: 4px 10px 4px 36px;
    text-decoration: none;
	white-space: normal;
}
#body aside .menu .counter, #body section .menu .counter {
    border-radius: 50px;
    float: right;
    font-size: 11px;
    padding: 0 7px;
}
/* Footer =================================================================== */
footer {
	clear: both;
    font-size: 12px;
    min-height: 60px;
	margin-top: -60px;
}
footer ul, footer li {
    list-style: none;
    margin: 0;
    padding: 0;
}
footer ul {
    overflow: hidden;
}
footer ul li {
	box-sizing: border-box;
    float: left;
    height: 60px;
    line-height: 60px;
}
footer ul #copyright {
	padding-right: 15px;
}
footer ul #info {
	float: left;
    margin: 0;
}
footer ul #info {
	float: left;
    margin: 0;
}
footer span.item {
    padding: 0 10px;
}
/* Footer Navigation ======================================================== */
footer #nav {
    float: right;
    margin-right: 0;
}
footer #nav li {
    margin: 0 0 0 10px;
}
/* Site offline notice ====================================================== */
#site_off_notice {
    left: 15px;
    padding: 5px 10px 5px 28px;
    position: fixed;
    top: 15px;
	z-index: 1;
}
.modal_padding {
    box-sizing: border-box;
	min-width: 460px;
    padding: 10px;
}
.modal_padding h3, .modal_padding h2 {
    margin-top: 5px;
    white-space: nowrap;
}
.width_480 {
    width: 480px;
}
/* Media Queries ============================================================ */
@media screen and (max-width: 800px) {
	nav {
		height: auto;
		padding: 5px;
	}
	nav .menu {
		display: none;
	}
	nav select {
		-moz-appearance: none;
		-webkit-appearance: none;
		display: inline-block;
		font-size: 14px;
		height: 28px;
		line-height: 20px;
		position: relative;
	}
	footer {
		height: auto;
		min-height: 60px;
		line-height: 30px;
		overflow: hidden;
		position: static;
	}
	footer ul,
	footer > ul > li {
		float: none !important;
		margin-right: 0;
	}
	footer ul,
	footer > ul > li,
	footer ul li {
		height: auto;
		line-height: 40px;
	}
	footer span.item:first-child {
		border-width: 0;
		padding-left: 0;
	}
	footer #info span.item {
		display: inline-block;
		height: 20px;
		line-height: 20px;
	}
}
@media screen and (max-width: 640px) {
	.content_item .ft_images .first_type_images:first-child {
		clear: both;
		display: block;
		float: none;
		margin-bottom: 10px;
		max-width: 100%;
		width: 100%;
	}
	.filter-panel .fields .field:nth-child(2n+1), .filter-panel .fields .field:nth-child(2n) {
		float: none !important;
		margin-bottom: 10px;
		width: 100%;
	}
	.content_item .ft_images .first_type_images:first-child > img {
		width: 100%;
	}
	.header_cont{
		min-height: 60px;
	}
	.tabs-menu ul {
		display: none;
	}
	.modal_form .tabs-menu ul {
		display: block;
	}
	.tabs-menu select {
		display: block !important;
	}
	.widget > .title {
		font-size: 14px !important;
	}
	.widget > .title .links {
		display: none;
	}
	.content_item .ft_image {
		float: none !important;
	}
	.modal_padding {
		box-sizing: border-box;
        min-width: 320px;
        padding: 10px;
    }
}
@media screen and (max-width: 480px) {
	h1 {
		font-size: 22px;
	}
	.content_list.featured .first .photo, .content_list.featured .first .fields {
		width: 100% !important;
	}
	.content_list_item.second .photo, .content_list_item.second .first {
		float: none !important;
		margin-right: 0 !important;
	}
	.content_list.featured .first .ft_caption a {
		font-size: 21px !important;
	}
	.content_list_item .ft_caption .value {
		font-size: 18px !important;
	}
}