* {
    margin: 0;
    overflow-wrap: break-word;
    padding: 0;
}
.clear::before, .clear::after {
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}
img, object, embed {
    max-width: 100%;
}
img {
    height: auto;
}
.normal {
    display: block;
}
.mobile {
    display: none;
}
.tseso form > * {
    box-sizing: border-box;
    margin-bottom: 5px;
    max-width: 100%;
}
.tseso .category_description {
    font-size: 1.1em;
    font-style: italic;
    margin: 0 0 15px;
    padding: 10px 15px;
}
.tseso #search_form .button-submit {
    padding: 4px 10px 5px;
    vertical-align: top;
}
.header_nav {
    clear: both;
    height: 40px;
    line-height: 40px;
    margin: 0;
    padding: 0;
    width: 100%;
}
#widget_pos_header {
	float: left;
}
.header_nav .header_search {
    float: right;
    overflow: hidden;
    padding: 0 10px 0 0;
}
#widget_pos_header.header_nav_one,
.header_nav .header_search.header_nav_one {
	float: none;
}
.header_nav .header_search.header_nav_one {
    padding: 0 10px;
}
.header_nav .widget_user_avatar {
    overflow: visible;
}
.header_nav .widget_search {
    margin: 0;
    padding: 0;
}
.header_search_link {
    font-size: 12px;
    padding-left: 20px;
    text-decoration: none;
}
.header_cont {
    clear: both;
    overflow: hidden;
    padding: 20px 10px;
}
#layout header {
    clear: both;
}
#logo {
	height: 60px;
	float: left;
    overflow: hidden;
	width: 166px;
}
#layout header #logo a {
    display: block;
    float: left;
    height: 100%;
    width: 100%;
}
#layout header .header_banner{
    float: right;
	margin-bottom: 0;
	max-width: calc(100% - 200px);
}
#layout header .header_banner img {
	display: block;
}
#top-banners {
    clear: both;
    margin: 0 0 10px;
    overflow: hidden;
}
.top-banner-left, .top-banner-right {
    width: 49%;
}
.top-banner-left {
    float: left;
}
.top-banner-right {
    float: right;
}
.top-banner-left.top-banner-one, .top-banner-right.top-banner-one {
    float: none;
    width: 100%;
}
/* Main Navigation ==================================================== */
nav .menu li:last-child ul {
    left: auto;
    right: 0;
}
nav .menu li:last-child ul li ul {
    left: -200px !important;
    right: auto;
}
/* section =========================================================== */
#body section {
    box-sizing: border-box;
}
#body section.section_only {
    padding: 0;
    width: 100%;
}
#body section.section_left {
    padding: 0 10px 0 0;
    width: 75%;
}
#body section.section_right {
    padding: 0 0 0 10px;
    width: 75%;
}
#body section.section_center {
    padding: 0 10px;
    width: 50%;
}
/* actions menu === */
#body section #widget_pos_action .menu {
    margin: -5px 0 15px;
}
#body section #widget_pos_action .menu li {
    display: inline-block;
    list-style: outside none none;
    margin-right: 5px;
    margin-top: 5px;
}
#body section #widget_pos_action .menu li a {
    display: block;
    font-size: 12px;
    padding-left: 30px;
}
/* wide-top =========================================================== */
#wide-top {
    clear: both;
    overflow: hidden;
}
.wide-top-l {
    box-sizing: border-box;
    float: left;
    padding: 0 10px 0 0;
    width: 75%;
}
.wide-top-r {
    float: right;
    width: 25%;
}
.wide-top-l.wide_top_one, .wide-top-r.wide_top_one {
    float: none;
    padding: 0;
    width: 100%;
}
.widget_body > .widget_content_slider {
    margin: -15px;
}
/* position three =========================================================== */
#three {
    clear: both;
    overflow: hidden;
    width: 100%;
}
#three > div {
    float: left;
    margin: 0 1% 10px 0;
    width: 32.66%;
}
#three > div.three_center_left,
#three > div.three_center_right {
    width: 66.32%;
}
#three > div.three_center_only {
	margin: 0 0 10px 0;
    width: 100%;
}
#three > div:last-child {
    margin: 0 0 10px 0;
}
#wide-bottom {
    clear: both;
    margin: 0 0 10px;
    width: 100%;
}
#body aside {
    float: right;
    width: 240px;
}
#body .sidebar-left {
    float: left;
    width: 25%;
}
#body .sidebar-left .menu, #body .sidebar-left .menu li {
    list-style: none;
    margin: 0;
    padding: 0;
}
#body .sidebar-left .menu, #body .sidebar-left .menu li ul {
    padding: 0;
}
#body .sidebar-left .menu {
    margin: -15px;
}
#body .sidebar-left .menu li ul {
    left: 100%;
    margin: 0;
    position: absolute;
    top: -1px;
    visibility: hidden;
    width: 220px;
    z-index: 999;
}
#body .sidebar-left .menu li:hover, #body .sidebar-left .menu li.active {
    cursor: default;
    position: relative;
}
#body .sidebar-left .menu li:hover > ul {
    visibility: visible;
}
#body .sidebar-left .menu a, #body .sidebar-left .menu span.item {
    display: block;
    overflow: hidden;
    padding: 4px 10px 4px 36px;
    text-decoration: none;
}
#body .sidebar-left .menu .counter {
    border-radius: 50px;
    float: right;
    font-size: 11px;
    padding: 0 7px;
}
#body aside .menu li:hover, #body aside .menu li.active {
    z-index: auto;
}
#body aside {
	padding: 0 0 10px;
    width: 25%;
}
#body aside > div {
    margin-bottom: 10px;
}
#body aside > div:last-child {
    margin-bottom: 0;
}
aside .widget_content_list.tiles-big .item {
    width: 100%;
}
.sidebar-left .blue.demo-container, aside .blue.demo-container {
    float: none;
    margin: -15px -15px 0;
    width: auto;
}
/* counter menu ======================================================= */
.notices-counter .counter, .messages-counter .counter {
    border-radius: 50%;
    color: red;
    padding: 0 5px;
}
#search_form.ov_search .input {
    padding: 4px 5px;
    width: 300px;
}
#search_form.ov_search select {
    padding: 0 5px;
}
#search_form.ov_search .button-submit {
    padding: 0 10px;
    vertical-align: top;
}
#search_form.ov_search .input, #search_form.ov_search select, #search_form.ov_search input.button-submit {
    height: 27px;
    line-height: 27px;
    margin-bottom: 5px;
}
.widget_content_list.tiles-big {
    font-size: 0;
    margin: 0 -21px;
}
.bg_red .widget_content_list.tiles-big,
.bg_green .widget_content_list.tiles-big,
.bg_blue .widget_content_list.tiles-big,
.bg_gray .widget_content_list.tiles-big {
	margin: 0 -9px;
}
.widget_content_list.tiles-big .item {
    display: inline-block;
    float: none;
    font-size: 14px;
    margin: 0 7px 10px;
    vertical-align: top;
    width: calc(33.33% - 14px);
}
.widget_content_list.tiles-big .item .image {
    margin: 0 0 10px;
}
#wall_widget {
    padding-top: 15px;
}
#wall_widget #wall_add_form textarea {
    width: 98%;
}
#wall_widget .title_bar #wall_add_link {
    margin-top: 7px;
}
.tseso .content_list.tiled {
	font-size: 0;
	margin-left: -1%;
	margin-right: -1%;
	width: 102%;
}
.tseso .content_list.tiled .tile {
	display: inline-block;
	float: none;
	font-size: 14px;
	margin: 0 1% 20px;
	padding-right: 0;
	vertical-align: top;
	width: 31.333%
}
.tseso #group_head {
	margin: 0 0 10px;
}
@media screen and (max-width: 980px) {
	.normal {
		display: none;
	}
	.mobile {
		display: block;
	}
	#body section, #body aside, #body .sidebar-left {
		box-sizing: border-box;
		float: none !important;
		padding: 0 !important;
		width: 100% !important;
	}
	#three, #wide-bottom {
		box-sizing: border-box;
		padding: 0;
	}
	#three {
		margin: 0 0 10px;
	}
	#three > div {
		margin-right: 0;
		width: 100% !important;
	}
	.wide-top-l, .wide-top-r {
		box-sizing: border-box;
		float: none !important;
		padding: 0 !important;
		width: 100% !important;
	}
}
@media screen and (max-width: 800px) {
	header .widget_user_avatar .user_info .avatar {
		margin: 4px 0 0;
	}
	header .menu > li {
		padding-left: 0;
	}
	header .menu > li > a {
		font-size: 11px;
	}
}
@media screen and (max-width: 767px) {
	#widget_pos_header {
		float: none;
	}
	header .widget_user_avatar .user_info {
		padding: 0 5px;
		margin-left: -5px;
	}
	header .widget_user_avatar .user_info .avatar {
		position: relative;
	}
	header .widget_user_avatar .user_info .avatar::after {
		content: "";
		cursor: pointer;
		display: block;
		height: 32px;
		left: 0;
		position: absolute;
		top: 0;
		width: 32px;
	}
	header .header_nav .widget_user_avatar .menu {
		box-sizing: border-box;
		display: none;
		float: none;
		line-height: 32px;
		overflow: hidden;
		padding: 0 10px;
		position: absolute;
		right: 0;
		top: 0;
		width: 260px;
	}
	header .widget_user_avatar .menu > li {
		float: none;
	}
	header .widget_user_avatar .menu > li a {
		font-size: 12px;
	}
	header .widget_user_avatar .menu li ul {
		border-radius: 0;
		box-shadow: none;
		margin: 0;
		position: static;
		visibility: visible;
		width: 100%;
	}
	header .widget_user_avatar .menu li ul li a {
		font-weight: 400;
		padding: 0 5px 0 10px;
	}
	header .widget_user_avatar .menu li ul li a::before {
		content: "--";
		padding-right: 5px;
	}
	.header_cont {
		padding: 10px 5px;
	}
	#layout header #logo {
		margin: 0 auto;
		overflow: hidden;
		float: none;
	}
    #layout header .header_banner {
		float: none;
		margin: 10px 0 0;
		max-width: 100%;
	}
	#layout header .header_banner img {
		margin: 0 auto;
	}
}
@media screen and (max-width: 640px) {
	.tseso #group_profile #right_column {
		margin-top: 0;
	}
	.top-banner-left, .top-banner-right {
		float: left;
		width: 100% !important;
	}
	.top-banner-left {
		margin-bottom: 10px;
	}
	.top-banner-left img, .top-banner-right img {
		display: block;
		margin: 0 auto;
		width: 100%;
	}
	#group_profile #left_column {
		float: none !important;
	}
	#group_profile #left_column .block {
		margin-right: 0 !important;
	}
	#group_profile #right_column {
		padding: 20px 10px;
	}
	#body section #widget_pos_action .menu li {
		display: block;
		margin-right: 0;
	}
	.tseso .content_list.tiled .tile {
		width: 48.0%
	}
}
@media screen and (max-width: 480px) {
	.widget_content_list.tiles-big .item {
		width: calc(50% - 14px);
	}
}
@media screen and (max-width: 375px) {
	.tseso .content_list.tiled {
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}
	.tseso .content_list.tiled .tile {
		width: 98% !important;
	}
}