<!--<div class = 'tasklists'>
  <div *ngFor="let taskList of tasklists" (click) ="getTasks(taskList)">{{taskList.id}} - {{taskList.name}}</div>
</div>

<br><br>


<div class = 'tasks'>
  <div *ngFor="let task of tasks">{{task.id}} - {{task.name}} - {{task.created_at}} - {{task.due_on}} - {{task.status}}</div>
</div>
-->
Create TaskList:
<div>
  <input type= "text" [(ngModel)]= "name" >
  <button (click)="createTaskList()">Create</button>
</div>

TaskLists
<div>
  <div *ngFor="let taskList of tasklists" >
    <span (click) = "getTasks(taskList)">
      <input type="text" [(ngModel)] = "taskList.name">
    </span>
    <button style = "color: red" (click)= "deleteTaskList(taskList)"> Удалить</button>
    <button style = "color: green" (click)= "updateTaskList(taskList)"> Изменить</button>
  </div>
</div>

<br>
Tasks:
<div class = "tasks">
  <div *ngFor="let task of tasks" >
    {{task.id}} - {{task.name}} - {{task.created_at}} - {{task.due_on}} - {{task.status}}
  </div>
</div>
